@model IEnumerable<String>

@{
    ViewBag.Title = "Index";
}
@{ 
    var qtdFila = ViewBag.qtdFila;
    var nAtendidos = ViewBag.nAtendidos;
    var idSetor = ViewBag.idSetor;
}
<h2>Visualização da fila:</h2>

<p>
    <h3>Pessoas na fila: @qtdFila</h3>
</p>
<p>
</p>
<table class="table">
    <tr>
        <th>
            A ser atendido no momento: @nAtendidos
        </th>
        <th>

        </th>
        <th>
            @Html.ActionLink("Atender próximo", "ProximoFila", new { idSetor = @idSetor },new { @class = "btn btn-success" })
        </th>
        <th></th>
    </tr>
</table>


