@model IEnumerable<NoStop.MODEL.FilaData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
          
        </th>
        <th>
           Posição na fila: 
        </th>
        <th>
           
        </th>
        <th></th>
    </tr>
    <tr>

    </tr>
</table>

