@model IEnumerable<NoStop.MODEL.ViewModels.qtdFila>

@{
    ViewBag.Title = "Visualização da Fila";

    // Não necessita de TypeCasting
    var nFila = ViewBag.nFila;
    var nAtendidos = ViewBag.nAtendidos;
}

<h2>Visualização da Fila</h2>


<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Posição na fila: @nFila
        </th>
        <th>
            Clientes na sua frente: @nAtendidos
        </th>
        <th></th>
    </tr>
    <tr>

    </tr>
</table>

