
@{
    ViewBag.Title = "Acesso negado";
}

<h2>Você não possui permissão para acessar esta página. Retorne ao Início.</h2>
<hr />
<input type="button" class="btn-success" value="Voltar" onclick="location.href='@Url.Action("Index", "Home")'" />

